body {
    font-family: Montserrat;
    color: #444;
    
}

h1, h2, h3, h4 {
    color: #222;
    font-family: 'Baloo';
}

/************************************
            HEADER
************************************/
nav {
    background-color: #444;
    padding: 1em;
    margin: 1.5em 0 2em 0;
    border-radius: 0 60px 60px 0;
    border-width: 3px 3px 3px 0;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.56);
    color: #FFF;
    width: 95%;
}

nav > a.navbar-brand {
    font-family: 'Baloo';
    font-size: 300%;
    margin: 0 auto;
}

ul.navbar-nav {
    margin: 0 auto;
    text-align: center;
}

ul.navbar-nav a {
    text-transform: uppercase;
}
    

/************************************
            ALL SECTIONS
************************************/
.container {
    margin-top: 5em;
}

.losContainers {
    text-align: center;
    border: solid #b1b1b1;
    border-width: 10px 0 0 0;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.45);

}

/************************************
            SECTION: Bio
************************************/
#content-container h1 {
    font-family: 'Baloo';
    text-align: right;
    color: #8c1d40;
}

#content-container img {
    margin: 0 0 1em 0;
    border-radius: 50%;
}

#content-container p {
    padding: 1em;
}

.list-group-item.active {
    background-color: #8c1d40 !important;
    border-color: #8c1d40 !important;
}

/************************************
            SECTION: Social
************************************/
.btn {
    font-size: 500%;
    color: black;
}

.email-icon {
    font-size: 100%;
    color: black;
}


#social-container h2, h3 {
    font-family: 'Baloo';
    color: #8c1d40;
}

/************************************
        SECTION: Portfolio
************************************/
.title-right {
    background-color: #444;
    border: #FFF;
    width: 95%;
    border-width: 3px 0 3px 3px;
    border-radius: 100px 0 0 100px;
    right: 0;
    position: absolute;
    height: 8em;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.56);
    padding: 1em;
    margin-top: 2em;
}

.title-right h2 {
    color: #FFF;
    font-size: 3em;
    padding-top: 0.3em;
    padding-left: 0.5em;
}

#portfolio-container {
    padding: 10em 0 1em 0;
}

.portfolio-item {
    height: 500px;
    margin: 0 auto 1em auto;
    position: relative;
    opacity: 1;
    border-radius: 5px;
    transition: all 0.6s linear;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.45);
}

.portfolio-item:hover {
    position: relative;
    z-index: 2;
    opacity: 1;
    border: 0;
    transform: scale(1.1);
}

.portfolio-label {
    background-color: #8c1d40;
    text-align: center;
    padding: 0.3em;
    position: absolute;
    width: 100%;
    top: 65%;
    color: #FFF;
}

.hidden-text {
    height: 100%;
    opacity: 0;
    background-color: #b1b1b1;
    padding: 2em;
    color: #FFF !important;
    transition: all 1s linear;
}

.hidden-text > h4 {
    color: #FFF !important;
}

.hidden-text:hover {
    opacity: 1;
}

.hidden-links {
    text-align: center;
}

.hidden-links > a {
    color: #fff;
    text-decoration: none;
}

.hidden-links > a:hover {
    color: #444;
}

.p1 {
    background: #FFF url('../assets/blue-crystal.jpg')  center no-repeat;
    background-size: cover;
}

.p2 {
    background: #FFF url('../assets/trivia.jpg')  center no-repeat;
    background-size: cover;
}

.p3 {
    background: #FFF url('../assets/giphy.gif')  center no-repeat;
    background-size: cover;
}

.p4 {
    background: #FFF url('../assets/project1.jpg') center no-repeat;
    background-size: cover;
}

.p5 {
    background: #FFF url('../assets/liri.jpg') center no-repeat;
    background-size: cover;
}

/************************************
        SECTION: Footer
************************************/
footer,
footer a {
    background-color: #444;
    color: #FFF;
    text-decoration: none;
}

footer a:hover {
    color: #b1b1b1;
    text-decoration: none;
}

footer li {
    list-style: none;
}

footer strong {
    color: #b1b1b1;
}

#footer-msg {
    padding: 1.5em 2em 0.5em 2em;
}


/************************************
        Media Queries
************************************/

@media only screen and (min-width : 320px) and (max-width : 800px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* If you're holding your phone the correct way this happens. */
    
    h1 {
        font-size: 75%;
    }